@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: 'Poppins', sans-serif; 
  background: rgb(34, 33, 33);
  background-repeat: no-repeat;
  background: cover;
  
 
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(231, 31, 107);
  border-color:rgb(231, 31, 107)
}



// landing //

  .title {

    display: flex;
    color:rgb(26, 26, 26);

  nav {  

    margin-top: 50px;

    ul {
      list-style-type: none;
      display: flex;
      justify-content: right;
      padding-right: 40px;

        
      

      img {
        height: 50px;
        width: auto;
        margin: 10px;
        
      }
  
    }

    .resume-btn {
      color: rgb(26, 26, 26);
      font-size: 30px;
      border: solid white 1px;
      border-radius: 10px;;
      height: auto;
      width: 150px;
      margin-top: 10px;
      margin-left: 100px;
      padding-left:10px;
      align-self: center;
      background: rgba( 255, 255, 255, 0.4 );
      box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
      backdrop-filter: blur( 15.5px );
      -webkit-backdrop-filter: blur( 15.5px );
      border-radius: 10px;
      border: 1px solid rgba( 255, 255, 255, 0.18 );

      a {
        
        font-weight: bold;
        color:rgb(26, 26, 26);
        
      
      }

      

    }

  }

    .resume-btn:hover {

      opacity: .7;

    }

    .name {
      font-size: 100px;
      line-height: 60px;
      color: rgb(26, 26, 26);
      padding: 50px 50px 50px 50px;
      margin: 50px 0px 50px 50px;
      animation-name: fadeIn;
      animation-duration: 2s;
      background: rgba( 255, 255, 255, 0.4 );
      box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
      backdrop-filter: blur( 15.5px );
      -webkit-backdrop-filter: blur( 15.5px );
      border-radius: 10px;
      border: 1px solid rgba( 255, 255, 255, 0.18 );
      
      
    }

  }  

   



// end of landing //

//about me//


.hero {

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  margin-left: 100px;
  

  

    .about-me {
      text-align: center;
      align-items: center;
      margin-left: 100px;
      width: 300px;
      height: auto;
      padding: 20px;
      color: rgb(26, 26, 26);
      font-size: 20px;
      font-weight: bold;
      background: rgba( 255, 255, 255, 0.4 );
      box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
      backdrop-filter: blur( 15.5px );
      -webkit-backdrop-filter: blur( 15.5px );
      border-radius: 10px;
      border: 1px solid rgba( 255, 255, 255, 0.18 );
      

      .headshot {
        height: 100px;;
        width: auto;
        padding: 20px;
      }

    img {
      height: 40px;
      width: auto;
    }

 

 
}


//end of about me//


// Portfolio//

.portfolio {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
 

  h1 {
    margin-bottom: 0;
  }

 


  

  img {
    height: 100px;
    width: auto;
    margin: 10px;
  }
}





  
// End of Work//



//footer//
footer {
  max-height: 50px;;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 12px;
   border-top: white solid 1px;

  
}

// end of footer//  

//keyframes// 


@keyframes fadeIn {
  from{opacity: 0}
  to{opacity: 1}
}

@keyframes dropDown {
  from{transform: translateY(0)}
  to{transform: translateY(-100)}
}





}